<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Elephant | Health Survey</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/jpg" href="../images/gen10.jpg"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/survey.css">
</head>

<body>
    <main>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm navbar-light static-top">
            <div class="container">
                <!-- <a class="navbar-brand" href="#">Logo</a> -->
                <a href="index.html" class="navbar-brand">
                    <img class="logo" src="../images/logo.png" alt="Genesis10">
                </a>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="allEmployees.html">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Time</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>

    <!-- Page Content -->
    <div class="container">
         <h2 class="center">Welcome back, Jane!</h2>
         
        <!-- <div class="row" id="screener">    -->
        <div class="form-group">
            <p class="center">Are you coming in to the office today?</p>
           
            <div class="row">    
                <div class="col-6"><button name="yes" id="q1Yes" class="btn-primary btn-lg btn-block survey" value="true">Yes</button></div>
                <div class="col-6"><button name="no" id="q1No" class="btn btn-primary btn-lg btn-block survey" value="false">No</button></div>
            </div>
            <div class="row submit" id="submit-screener">  
                <button type="button" class="btn-primary btn-lg submit-btn survey" id="submit-screener-btn">Next</button>
            </div>
         </div>

        <div class="form-group">
                <p class="center">1. Do I have symptoms of fever, cough, shortness of breath, sore throat, or diarrhea?</p>
                <div class="row">    
                    <div class="col-6"><button name="yes" id="q2Yes" class="btn-primary btn-lg btn-block survey" value="true">Yes</button></div>
                    <div class="col-6"><button name="no" id="q2No" class="btn btn-primary btn-lg btn-block survey" value="false">No</button></div>
                </div>

                <p class="center">2. Have I had close contact in the last 14 days with an individual diagnosed with COVID-19?</p>
                <div class="row">    
                    <div class="col-6"><button name="yes" id="q3Yes" class="btn-primary btn-lg btn-block survey" value="true">Yes</button></div>
                    <div class="col-6"><button name="no" id="q4No" class="btn btn-primary btn-lg btn-block survey" value="false">No</button></div>
                </div>

                <p class="center">3. Have I travelled internationally or domestically in the last 14 days?</p>
                <div class="row">  
                    <div class="col-6"><button name="yes" id="q4Yes" class="btn-primary btn-lg btn-block survey" value="true">Yes</button></div>
                    <div class="col-6"><button name="no" id="q4No" class="btn btn-primary btn-lg btn-block survey" value="false">No</button></div>
                </div>
            
                <div class="row submit" id="submit-survey">  
                <button type="button" class="btn-primary btn-lg submit-btn survey" id="submit-survey-btn">Submit</button>
                </div>
        </div>

    </div>
    </main>
    <footer>
        <p>footer content placeholder</p>
    </footer>
    
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script src="../js/healthSurvey.js"></script>
</body>

</html>