
body {
    background: #fff;
    color: #666;
    font-family: 'Lato',arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    height: 100%;
    /* blue color: rgb(37,116,163) */
}

main {
    min-height: 90vh;
}

.row {
    max-width: 100%;
    /* display: -ms-flexbox; */
    /* display: flex;
    -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    margin-right: 0px;
    margin-left: 0px;
}

/* .container {
    margin: 10px !important;
    padding: 10px !important;
} */

img.logo {
    width: 220px;
    align-self: left;
}

.btn {
    border-radius: 0px; 
    /* background-color: #E4701E; */
    
}
.btn-primary {
    border-radius: 0px; 
    background-color: rgb(228,112,31);
    border-color: rgb(228,112,31);
}

.btn-primary:active, .btn-primary:hover {
    background-color: rgb(228,112,31);
    border-color: rgb(228,112,31);
}
.btn-primary:hover {
    opacity: 90%;  
}

button.navbar-toggler {
    border-radius: 0px; 
    background-color: rgb(37,116,163);
    color: white;
}

span.navbar-toggler-icon {
    color: white;
}

h1 {
    color: black;
    text-align: center;
}

h1.heading {
    font-size: 24px;
}

h2.center {
    font-size: 1.4rem;
    text-align:center;
}

nav.navbar {
    background-color: #fff;
}

.guideline-link:hover {
    font-weight: bold;
}

/*  add media queries for toggled mobile nav 
li.nav-item {
    background-color: rgb(37,116,163);
    color: #fff;
    padding: 5px;
    border-bottom: 1px dotted #fff;
} */

footer {
    color: #666;
    height: 35px;
    text-align: center;
    padding: 5px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    /* border-width: 1px; */
    /* background-color: rgb(228,112,31); */
    /* border-top: groove #666; */
   
}


/*search table on admin report*/

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}