   /* toggle button syntax  */
.toggle.android { 
  border-radius: 0px;
}
.toggle.android .toggle-handle { 
  border-radius: 0px; 
}

/* #surveyContainer {
  padding: 10px;
} */


.form-check {
  padding: 1rem 0rem 0rem 1rem;
}

button.survey {
  height: 4.5rem;
  margin: 0px;
  font-size: 1.1rem;
}

p.center {
  font-size: 1.2rem;
  margin: 20px 0px 5px 0px;
  text-align: left;
}

.form-group {
  align-items: 50%;
}

button.survey {
  font-size: 1.4rem;
}

.submit {
    height: 3rem;
    align-self: center;
    margin: 1rem;
}
/*.submit-btn {
  background-color: white;
  border: 3px solid rgb(228,112,31);
  color: black;
  width: 30%;
  margin: 1rem;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/
/*.time {
  margin: 0px 5px 5px 0px;
  padding: 0px;
    
}*/

button.time {
  font-size: 15px;
  height: 5rem;
  width: 21vw;
  margin: 3px;
}

/*#arrival-btn-div {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .time {
    flex: 0 0 auto;
  }
}

#arrival-btn-div {
  -webkit-overflow-scrolling: touch;
}


#departure-btn-div {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .time {
    flex: 0 0 auto;
  }
}

#departure-btn-div {
  -webkit-overflow-scrolling: touch;
}*/